/*   Index.php   */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.index{
    background-color: steelblue;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
/*   Button   */
.btn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: lightblue;
    padding: 15px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
}

.btn:focus{
    outline: 0;
}

.btn:active{
    transform: scale(0.98);
}

/*   Container   */
.container{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 40px;
    border-radius: 5px;
    text-decoration: none;
    color: lightblue;
}

.container h1{
    text-align: center;
    margin-bottom: 30px;
}

/*   Form   */

form#form_login  {

    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}

.input_login, .input_senha {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 6px 0;
    font-size: 18px;
    

}
.form-control input:focus , .form-control input:valid{
    outline: 5;
    border-bottom-color:lightblue ;
}

/*   Principal.php   */

:root{
    background-color: steelblue; 
}

.welcome{
    text-align: center;
    padding-top: 50px;
    text-decoration: underline;
    margin-bottom: 15vh;
    color: #fff;
}
 /*   Links   */

/*ul {

}
*/



 li {
    padding: 20px;
    list-style: none;
    display: inline-block;
    transition: background 0.3s;
    
}

a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.5em;
    align-items: center;
   color: #fff;
}

a:link {

border-radius: 8px;
border: 2px solid #fff;
transition: background 0.3s;
}

a:link:hover{
 
background: lightblue;    
}



h1#login {
    text-align: center;
    
}

/*   pesquisar_cnpj   */





